main {
    border: 3px solid black;
    height: 603px ;
    width: 1100px;
    margin: auto;
}
header{
    border: 3px solid rgb(0, 0, 0);
    height: 100px ;
}
nav{
    border: 3px solid rgb(0, 0, 0);
    height: 70px ;
}
section{
    border: 3px solid rgb(0, 0, 0);
    height: 390px ;
}
footer{
    border: 3px solid rgb(0, 0, 0);
    height: 20px ;
}
aside{
    border: 3px solid rgb(0, 0, 0);
    height: 385px;
    width: 350px;
    float: left;
}
article{
    border: 3px solid rgb(0, 0, 0);
    height: 123px ;
    width: 728px;
    float: right;
}
article{
    border: 3px solid rgb(0, 0, 0);
    height: 124px ;
    width: 728px;
    float: right;
}
article{
    border: 3px solid rgb(0, 0, 0);
    height: 124px ;
    width: 728px;
    float: right;
}
